body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}
.banner1,.banner2,.banner3,.banner4{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;

}
img{
    width: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: zoom-out 3s linear infinite;
}
@keyframes zoom-out{
    100%{
        width: 100%;
    }
}
.text-box{
    width: 600px;
    position: absolute;
    top: 200px;
    left: 100px;
    color: #fff;
    animation: text 12s linear infinite;
    transform: translateY(100px);
}
.text-box h1{
    margin-bottom: 48px;
}
.text-box p{
    font-size: 14px;
    line-height: 18px;
    margin-top: 80px;
}
.banner1{
    animation: slider1 12s linear infinite;
}
.banner2{
    animation: slider2 12s linear infinite;
}
.banner3{
    animation: slider3 12s linear infinite;
}
.banner4{
    animation: slider4 12s linear infinite;
}
@keyframes slider1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
    
}
@keyframes slider2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
    
}
@keyframes slider3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
    
}
@keyframes slider4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
    
}
@keyframes text{
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}
.box1{
    animation-delay: 0s;
}
.box2{
    animation-delay: 3s;
}
.box3{
    animation-delay: 6s;
}
.box4{
    animation-delay: 9s;
}
